<div class="navbar">
  <button (click)="goHome()" class="return-button">Return to Home</button>
  <button (click)="toggleForm()" class="plus-button">+</button>
</div>
<h1>Dashboard</h1>
<form *ngIf="showForm" (ngSubmit)="addMemo()" #memoForm="ngForm" class="memo-form">
  <input type="text" name="title" [(ngModel)]="newMemo.title" placeholder="Title" required>
  <textarea name="content" [(ngModel)]="newMemo.content" placeholder="Content" required></textarea>
  <input type="color" name="color" [(ngModel)]="newMemo.color" placeholder="Color">
  <button type="submit" [disabled]="!memoForm.form.valid">Add Memo</button>
</form>

<div cdkDropListGroup>
  <div class="example-container">
    <h2>To do</h2>
    <div
      cdkDropList
      id="todoList"
      [cdkDropListData]="todoMemos"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div *ngIf="todoMemos.length === 0" class="empty-list-message">Drag your memo here</div>
      <div *ngFor="let item of todoMemos;trackBy: trackByFn" class="example-box" cdkDrag>
        <app-memo [memo]="item"></app-memo>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>
    <div
      cdkDropList
      id="doneList"
      [cdkDropListData]="doneMemos"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div *ngIf="doneMemos.length === 0" class="empty-list-message">Drag your memo here</div>
      <div *ngFor="let item of doneMemos;trackBy: trackByFn" class="example-box" cdkDrag>
        <app-memo [memo]="item"></app-memo>
    </div>

  </div>
</div>
